body {
	font-family: 'Arial';
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}
.bc_wrapper {
    width: 100%;
    height: 1100px;
    display: flex;
	min-width: 1100px;
}
.bc_left {
    display: flex;
    width: 15%;
}
.geolocation {
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 20px;
	margin-left: 20px;
}

.date {
	width: 110px;
	margin-left: 10px;
	color: #808080;
	font-size: 13px;
}

.geolink {
	color: #808080;
	font-size: 14px;
	font-weight: bold;
}

.time {
	margin-left: 5px;
	color: #808080;
	font-size: 13px;
}

.yandex {
	margin-top: 280px;
	margin-left: -150px;
}

.bc_content {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.bc_row {
	margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 180px;
}
.news {
	min-width: 550px;
	width: 550px;
	height: 180px;
}

.smi {
	font-weight: bold;
	color: #4682B4;
	line-height: 30px;
}
.dn {
	margin-left: 10px;
	font-weight: bold;
	color: #1E90FF;
}

.link {
	line-height: 25px;
	font-size: 13px;
	color: black;
}

.currency {
	line-height: 25px;
	font-size: 14px;
}

.currency_link {
	color: black;
}

.changes {
	color: gray;
}

.language {
	margin-left: auto;
	width: 50px;
	color: black;
	font-size: 13px;
}
.block_weather {
	width: 255px;
	height: 70px;
	margin-right: 50px;
}
.weather {
	font-weight: bold;
	color: #4682B4;
}

.map {
	margin-left: 10px;
	color: #4682B4;
	font-size: 14px;
}

.cloud {
	padding: 2px 2px 2px 2px;
	display: flex;
	align-items: center;
}

.degree {
	font-size: 26px;
	font-weight: bold;
	display: flex;
}

.weather_of_the_day {	
	display: flex;
}

.text_gray {
	font-size: 10px;
	color: gray;
}

.link_time_of_the_day {
	margin-left: 10px;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

.degree_of_the_day {
	display: flex;
	justify-content: center;
	align-items: center;
}

.road {
	margin-top: 10px;
}

.transport {
	font-weight: bold;
	color: #4682B4;
} 

.link_road {
	margin-right: 10px;
	font-size: 13px;
	color: #4682B4;	
}
.bc_row2 {
	margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.services {
	display: flex;
	font-size: 12px;
}

.service {
	text-align: center;
}

.bc_row3 {
    display: flex;
    width: 100%;
    height: 41px;
}
.entry_field {
	display: flex;
	margin-left: 20px;
}

.form {
	width: 810px;
	height: 35px;
	border-radius: 5px;
	border-color: #ffdb4d;
	border-style: solid;
}

input:focus::placeholder {
	opacity: 0;
}

input:focus {
	outline: 0;
}

::-webkit-input-placeholder {
	font-size: 16px; 
	color: #A9A9A9;
}

.to_find {
	margin-left: -5px;
	width: 75px;
	background: #ffdb4d;
	border: none;
	cursor: pointer;
	font-size: 15px;
}

.arrow {
	width: 15px;
}

.bc_row4 {
	margin-top: 10px;
    display: flex; 
    width: 100%;
    height: 40px;
}
.yandex_dzen {
	margin-left: 20px;
	display: flex;
}

.line {
	color: #808080;
	font-size: 15px;
	margin: 6px 0px 0px 10px;
}

.dzen {
	margin: -30px 0px 0px 35px;
}

.bc_row5 {
	margin-top: 10px;
    display: flex;
    width: 100%;
    height: 670px;
}

.publication_blocks {
	margin-left: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	border-radius: 10px;
}

.publication_blocks div {
	padding: 3px;
}

.publication_blocks a:hover{
	color: black;
}

.back {
    opacity: 1;
}

.back:hover .block_small {
   opacity: 0.5;
}

.back:hover .block_big {
   opacity: 0.5;
}

.block_small {
	border-radius: 7px;
	flex: 1;
	width: 285px;
	height: 325px;	
}

h3 {
	font-size: 19px;
}

p {
	font-size: 17px;
	font-weight: normal;
}

h4 {
	font-size: 15px;
}



.publication_text1 {
	margin-top: -180px;
	position: absolute;
	background: linear-gradient(to top,  #8B4513 65%, transparent);
	width: 280px;
	height: 170px;	
	border-radius: 7px;
}
 
 .publication_text2 {
	margin-top: -230px;
	position: absolute;
	background: linear-gradient(to top, #A0522D 65%, transparent);
	width: 280px;
	height: 220px;	
	border-radius: 7px;
 }
	
	
.publication_text3 {
	margin-top: -180px;
	position: absolute;
	background: linear-gradient(to top,  #DEB887 65%, transparent);
	width: 280px;
	height: 170px;
	border-radius: 7px;	
}


.publication_text4 {
	margin-top: -230px;
	position: absolute;
	background: linear-gradient(to top,  #696969 65%, transparent);
	width: 280px;
	height: 220px;	
	border-radius: 7px;
}

.publication_text5 {
	margin-top: -330px;
	position: absolute;
	background: linear-gradient(to right,  #FFD700 65%, transparent);
	width: 330px;
	height: 320px;	
	border-radius: 7px;
}

.block_big {
	border-radius: 7px;
	flex: 2;
	width: 580px;
	height: 325px;
}

.bc_right {
    display: flex;
    width: 15%;
}
.block_mail {
	position: absolute;
	width: 200px;
	height: 80px;
	background: white;
	box-shadow: 0 0 10px rgba(192,192,192);
	border: none;
	border-radius: 10px;
}

.mail {
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin-left: 5px;
}

.registration {
	font-size: 14px;
	color: black;
	margin-left: 50px;
	cursor: pointer;
}

.entrance {
	width: 150px;
	height: 30px;
	border: none;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}

.massage {
	position: absolute;
	width: 200px;
	height: 40px;
	background: white;
	box-shadow: 0 0 10px rgba(192,192,192);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	top: 95px;
}
