
body {
	overflow-x: auto;
	position: absolute;
	min-width: 936px;
	margin:  13px;
	font-family: 'Arial';
}


.geolink {
	color: #808080;
	font-size: 14px;
	text-align: left;
	margin-left: 30px;
	font-weight: bold;
	margin: 7px, 13px;
}

.date {
	min-width: 1000px;
	color: #808080;
	font-size: 13px;
	margin: -18px 82% 0px 95px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}

.time {
	color: #808080;
	font-size: 13px;
}

.language {
	margin: -20px 220px 0px 98%;
	color: black;
	font-family: 'Arial';
	font-size: 13px;
}

.block_mail {
	width: 200px;
	height: 80px;
	background: white;
	box-shadow: 0 0 10px rgba(192,192,192);
	border: none;
	border-radius: 10px;
	margin: -180px 5px 0px 117%;
}

.mail {
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin-left: 5px;
}

.registration {
	font-size: 14px;
	color: black;
	margin-left: 50px;
	cursor: pointer;
}

.entrance {
	width: 150px;
	height: 30px;
	border: none;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}

.massage {
	width: 200px;
	height: 40px;
	background: white;
	box-shadow: 0 0 10px rgba(192,192,192);
	border: none;
	border-radius: 10px;
	margin-left: 117%;
	margin-top: 8px;	
	position: right;
	cursor: pointer;
}

.news {
	min-width: 1000px;
	width: 60%;
	height: 10%;
	margin-top: 15px;
	margin-left: 10px;
}

.smi {
	font-weight: bold;
	color: #4682B4;
	margin-left: 200px;
	margin-bottom: 20%;
	line-height: 30px;
}

.dn {
	margin-left: 10px;
	font-weight: bold;
	color: #1E90FF;
}

.link {
	line-height: 25px;
	font-size: 13px;
	color: black;
	margin-left: 200px;
}

.currency {
	line-height: 25px;
	font-size: 14px;
	margin-left: 205px;	
}

.currency_link {
	color: black;
}

.changes {
	color: gray;
}

.block_weather {
	margin-left: 76%;
	margin-top: -180px;
	width: 255px;
	height: 70px;	
}

.weather {
	font-weight: bold;
	color: #4682B4;
}

.map {
	margin-left: 10px;
	color: #4682B4;
	font-size: 14px;
}


.cloud {
	padding: 2px 2px 2px 2px;
}

.degree {
	margin-top: -40px;
	margin-left: 50px;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: -10px;
	display: flex;
}

.weather_of_the_day {	
	margin-top: -2px;
	display: flex;
}

.text_gray {
	font-size: 10px;
	color: gray;
}

.link_time_of_the_day {
	margin-left: 10px;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

.road {
	margin-top: 15px;
}

.transport {
	font-weight: bold;
	color: #4682B4;
} 

.link_road {
	margin-right: 10px;
	font-size: 13px;
	color: #4682B4;	
}

.services {
	display: flex;
	margin-top: 100px;
	margin-left: -250%;
	padding-left: 10px;
	font-size: 12px;
}

.service {
	text-align: center;
}
	
.yandex {
	margin-left: -300%;
}


.entry_field {
	margin: -54px 0px 0px 140px;
}

.form {
	width: 790px;
	height: 35px;
	border-radius: 5px;
	border-color: #FFD700;
	border-style: solid;
	position: relative;
}

input:focus::placeholder {
	opacity: 0;
}

input:focus {
	outline: 0;
}

::-webkit-input-placeholder {
	font-size: 16px; 
	color: #A9A9A9;
}

.to_find {
	width: 65px;
	height: 41px;
	background: #FFD700;
	border: none;
	margin-left: -9px;
	cursor: pointer;
	font-size: 15px;
}


.yandex_dzen {
	margin-left: -245%;
	width: 410px;
	height: 30px;
	display: flex;
}

.line {
	color: #808080;
	font-size: 15px;
	width: 300px;
	height: 20px;
	margin-top: 6px;
	margin-left: 10px;
}

.dzen {
	margin-top: -30px;
	margin-left: 35px;
}

.publication_blocks {
	display: flex;
	flex-wrap: wrap;
	margin-left: -245%;
	align-items: stretch;
	border-radius: 10px;
}

.publication_blocks div {
	padding: 3px;
}

.block_small {
	border-radius: 7px;
	flex: 1;
	width: 285px;
	height: 325px;	
}

p {
	font-size: 18px;
	font-weight: normal;
}

.publication_text1 {
	margin-top: -180px;
	position: absolute;
	background: linear-gradient(to top,  #8B4513, transparent);
	width: 280px;
	height: 170px;	
	border-radius: 7px;
}
 
 .publication_text2 {
	margin-top: -240px;
	position: relative;
	background: linear-gradient(to top, #A0522D, transparent);
	width: 280px;
	height: 230px;	
	border-radius: 7px;
 }
	
	
.publication_text3 {
	margin-top: -180px;
	position: absolute;
	background: linear-gradient(to top,  #000080, transparent);
	width: 280px;
	height: 170px;
	border-radius: 7px;	
}

.publication_text4 {
	margin-top: -230px;
	position: absolute;
	background: linear-gradient(to top,  #696969, transparent);
	width: 280px;
	height: 220px;	
	border-radius: 7px;
}

.publication_text5 {
	margin-top: -330px;
	position: absolute;
	background: linear-gradient(to right,  #FFD700, transparent);
	width: 330px;
	height: 320px;	
	border-radius: 7px;
}

.block_big {
	border-radius: 7px;
	position: relative;
	flex: 2;
	width: 570px;
	height: 325px;
}













