
body {
	margin:  13px;
	font-family: 'Arial';
}

.geolink {
	color: #808080;
	font-size: 14px;
	text-align: left;
	margin-left: 30px;
	font-weight: bold;
	margin: 7px, 13px;
}

.date {
	color: #808080;
	font-size: 13px;
	margin-top: -16px;
	padding: 0px 0px 0px 95px;
}

a {
	text-decoration: none;
}
a:hover{
	color: red;
}

.time {
	color: #808080;
	font-size: 13px;
}

.language {
	margin-left: 81%;
	margin-top: -25px;
	color: black;
	font-family: 'Arial';
	font-size: 13px;
	position: right;
}

.block {
	width: 200px;
	height: 80px;
	background: white;
	box-shadow: 0 0 10px rgba(192,192,192);
	border: none;
	border-radius: 10px;
	margin-left: 85%;
	margin-top: -150px;
	float: none;
	position: right;
}

.mail {
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin-left: 5px;
}

.registration {
	font-size: 14px;
	color: black;
	margin-left: 50px;	
}

.entrance {
	width: 150px;
	height: 30px;
	border: none;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
}

.massage {
	width: 200px;
	height: 40px;
	background: white;
	box-shadow: 0 0 10px rgba(192,192,192);
	border: none;
	border-radius: 10px;
	margin-left: 85%;
	margin-top: 8px;	
	position: right;
}

.news {
	
}

.currency {
	line-height: 25px;
	font-size: 14px;
	margin-left: 205px;	
}

.currency_link {
	color: black;
}


.changes {
	color: gray;
}

.smi {
	font-weight: bold;
	color: #4682B4;
	margin-left: 200px;
	margin-bottom: 20%;
	line-height: 30px;
}

.dn {
	font-weight: bold;
	color: #1E90FF;
}

.link {
	line-height: 25px;
	font-size: 13px;
	color: black;
	margin-left: 200px;
	
}

.block.weather {
	margin: 20px 50px 250px 250px
}

.weather {
	font-weight: bold;
	color: #4682B4;
	
}

.map {
	color: #4682B4;
}

.degree {
	font-size: 30px;
	font-weight: bold;
	color: black;

}









